
body {
  font-family: "freight-sans-pro", "Lato", Helvetica, sans-serif;
  color: white;
}
::selection {
  background: #eb5055;
}
::-moz-selection {
  background: #eb5055;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}
a:hover,
a:hover,
a:focus {
  color: #121111;
  text-decoration: none;
}
a:link {
  color: #eb5055;
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
}
p {
  margin-bottom: 1em;
}
header{
  position: fixed;
}

.logo > h1{
  font-weight: 100;
}

.logo a{
  color: white !important;
}

.logo b{
  color: #eb5055;
}
.sidenav{
  position: fixed;
  float: right;
}
section{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

section.main{
  background: #f0eee8 url('../img/bg1.jpg') top center no-repeat;
  background-color: skyblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
}

section.main .hero-content{
  font-weight: 100;
  line-height: 1.5em;
  font-size: 3.7em;
  padding-top: 15%;
}

section.main .hero-content > h1{
  font-weight: 100;
  line-height: 1.5em;
  text-transform: uppercase;
}

section.main .hero-content > h1 > span{
  color: #eb5055;
}

section.about{
  background-color: #262626;

}

section.about h1{
  text-transform: uppercase;
}

section.projects{
  background-color: #e05a54;
}

section.hobbies{
  background-color: #dbbea1;
}

section.contact{
  background-color: #262626;
}


.icon{
  font-size: 6em;
  color: #eb5055;
  margin-bottom: 0.3em;
}

p{
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
}